---

import { Icon } from "astro-icon";

import BaseLayout from '../layouts/BaseLayout.astro';

import site from '@data/site.js';

import InfoCard from '../components/InfoCard.astro';

import PageHeader from '../components/PageHeader.astro';


const canonicalURL = new URL(Astro.url.pathname, Astro.site);


const socialLinks = [
  {
    href: `${site.facebookURL}`,
    icon: "bx-facebook",
		label: "Facebook"
  },
  {
    href: `${site.instagramURL}`,
    icon: "bx-instagram",
		label: "Instagram"
  },
	{
    href: `${site.emailURL}`,
    icon: "bx-email",
		label: "Email"
  },
];
---

<BaseLayout
	hasHero={false}
	title="Contact Us"
	description="To schedule an appointment, contact Linda or Breeze today for personal training and coaching in Mount Pleasant, SC"
	{canonicalURL}
>
	<PageHeader title="Contact Us" subtitle="" heroImage="" heroImageAlt="" />

	<section class="contact section-3xl flow-v-2xl">
		<div class="container max-width-sm flow-v-2xl">
			<h2 class="txt-h3 txt-center">Feel free to contact us by phone or email.</h2>

				<p class="txt-center flow-xs">
				For updates, please check us out on <a
					href="https://www.facebook.com/sweetstrengthfitnessstudio/"
					target="_blank"
					rel="noopener noreferrer">Facebook</a
				>.
			</p>

			<div class="grid-auto-md">

<InfoCard name="Linda Timmons" phone={site.lindaPhone} avatarImg="/src/images/avatar-linda.jpg" avatarAlt="Linda Timmons" />

			<InfoCard name="Breeze Timmons" phone={site.breezePhone} avatarImg="/src/images/avatar-breeze.jpg" avatarAlt="Breeze Timmons" />
				
				
			</div>

			
		
		

			<ul class="social-icon-list" role="list">
          {socialLinks.map(({ href, label, icon }) => (
            <li>
              <a
                class="social-icon-link"
                href={href}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon
                  class="social-icon-item"
                  name={icon}
                  size={21}
                />
								{label}
              </a>
            </li>
          ))}
        </ul>

		</div>

		<hr />

		<div class="container max-width-sm flow-v-xl txt-center">
			<h2 class="txt-h3">Location </h2>
			<p>By appointment only. </p>
			<p>Sweet Strength Fitness &amp; Wellness Studio is located in Mount Pleasant, South Carolina. <br /><em>(Located near Mount Pleasant’s Towne Centre and at the Isle of Palms Connector.)</em></p>

			<p class="h-card">
				<span class="street-address">1136 Hungry Neck Blvd</span> <br />
				<span class="suite">Suite J</span> <br />
				<span class="locality">Mt. Pleasant</span>, <span class="region">SC</span> <span class="postal-code">29464</span>
			</p>

			<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3352.593987931526!2d-79.8254212847214!3d32.829521180956235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fe736ce2ca9923%3A0x6f7f91fb4f42380f!2sSweet%20Strength%20Fitness%20Studio!5e0!3m2!1sen!2sus!4v1666648084081!5m2!1sen!2sus" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


		</div>
	</section>
</BaseLayout>

<style>

.social-icon-list {
	display: flex;
	justify-content: center;
	gap: var(--s0);
	flex-wrap: wrap;
}

.social-icon-list li {
	flex: 1;
	min-width: 15rem;

}

.social-icon-list a {
	border-radius: var(--radius-pill);
	border:  var(--border-width-xs) solid var(--color-primary-lite);
	display: flex;
	align-items: center;
	column-gap: 1ch;
	padding: 0.5em 1.5em;
	justify-content: center;
}

iframe.map {
	aspect-ratio: 3/2;
	max-width: 100%;
	height: auto;
}

</style>
